force-app/main/default/flows/Document_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Duduped_Requirement</name>
        <label>Duduped Requirement</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <actionName>DedupeRequirements</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dedupe_not_null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>InitiativeRequirements</name>
            <value>
                <elementReference>RequirementsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRequirements</nameSegment>
        <outputParameters>
            <assignToReference>DedupeRequirement</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetAllPayments</name>
        <label>GetAllPayments</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <actionName>DedupePayments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_WithPayments_Or_WithoutPayments</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>InitiativePayments</name>
            <value>
                <elementReference>InitiativeList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupePayments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IterateOverIni</name>
        <label>IterateOverIni</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <actionName>LoopOverInitiative</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Requirement_Records_Present</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>InitiativeRequirements</name>
            <value>
                <elementReference>Get_Initiative_of_Investment_Schedule</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoopOverInitiative</nameSegment>
        <outputParameters>
            <assignToReference>RequirementsFromApex</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_RequirementInitiative_to_Collection</name>
        <label>Add RequirementInitiative to Collection</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RequirementsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Requirement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SortRequirementCollectionByDueDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddInitiative</name>
        <label>AddInitiative</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>IniVar.Total_Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOnInitiatives.Total_Payments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IniVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOnInitiatives.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Initiative_for_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Initiative_for_payment</name>
        <label>Capture Initiative for payment</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InitiativeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IniVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnInitiatives</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Initiative_with_Requirements</name>
        <label>Combine Initiative with Requirements</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Requirement.Initiative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Initiative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Requirement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Display_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Display_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_RequirementInitiative_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_DeDupe_Requirement_variable</name>
        <label>Empty DeDupe Requirement variable</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>DedupeRequirement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDedupeVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequirementsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDedupeVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_WithPayments_Or_WithoutPayments</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>SortRequirementCollectionByDueDate</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SortRequirementCollectionByDueDate</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RequirementsCollection</collectionReference>
        <connector>
            <targetReference>Loop_Requirements</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Due_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Dedupe_not_null</name>
        <label>Dedupe not null</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Show_WithPayments_Or_WithoutPayments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deduped_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DedupeRequirement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Records_in_Investment_Schedule</targetReference>
            </connector>
            <label>Deduped not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Initiatives</name>
        <label>Has Initiatives?</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initiative_of_Investment_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverIni</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requirement_Records_Present</name>
        <label>Requirement Records Present?</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>loopOnInitiatives</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requirement_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequirementsFromApex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Requirements</targetReference>
            </connector>
            <label>Requirement Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_WithPayments_Or_WithoutPayments</name>
        <label>Show_WithPayments_Or_WithoutPayments</label>
        <locationX>380</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>docGen_WoP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WithOrWithoutPayments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Investment_Schedule_Details.Total_Payments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preview_DocGeneration</targetReference>
            </connector>
            <label>WithOrWithoutPayments</label>
        </rules>
    </decisions>
    <description>With no req v2
With Soql error resolved</description>
    <environments>Default</environments>
    <interviewLabel>Document Generation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Generation(With Sort)</label>
    <loops>
        <name>Loop_Requirements</name>
        <label>Loop Requirements</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>RequirementsFromApex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Combine_Initiative_with_Requirements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Duduped_Requirement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOnInitiatives</name>
        <label>loopOnInitiatives</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Initiative_of_Investment_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddInitiative</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllPayments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Records_in_Investment_Schedule</name>
        <label>Insert Records in Investment Schedule</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Empty_DeDupe_Requirement_variable</targetReference>
        </connector>
        <inputReference>DedupeRequirement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Initiative_of_Investment_Schedule</name>
        <label>Get Initiative of Investment Schedule</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Initiatives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all investment schedule details using screenflow</description>
        <name>Get_Investment_Schedule_Details</name>
        <label>Get Investment Schedule Details</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initiative_of_Investment_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>docGen_WoP</name>
        <label>docGen</label>
        <locationX>512</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WithoutPayment</name>
            <extensionName>Loop:RunDocGen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ddpId</name>
                <value>
                    <stringValue>a1v6F00000PvVtqQAF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryOptionId</name>
                <value>
                    <stringValue>a1t6F00000G9i4tQAB</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_DocGeneration</name>
        <label>Preview DocGeneration</label>
        <locationX>248</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>docGen</name>
            <extensionName>Loop:RunDocGen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ddpId</name>
                <value>
                    <stringValue>a1v6F00000PhmMxQAJ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryOptionId</name>
                <value>
                    <stringValue>a1t6F00000G8pknQAB</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Investment_Schedule_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DedupeRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>EmptyDedupeVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>InitiativeIDtemp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InitiativeIDTemporary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitiativeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Initiative__c</objectType>
    </variables>
    <variables>
        <name>IniVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Initiative__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>RequirementInitiativeTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>RequirementsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>RequirementsFromApex</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Requirement__c</objectType>
    </variables>
</Flow>
