force-app/main/default/flows/DocumentGenerationForAgreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Duduped_Requirement</name>
        <label>Duduped Requirement</label>
        <locationX>861</locationX>
        <locationY>274</locationY>
        <actionName>DedupeRequirements</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dedupe_not_null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>InitiativeRequirements</name>
            <value>
                <elementReference>RequirementsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRequirements</nameSegment>
        <outputParameters>
            <assignToReference>DedupeRequirement</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_RequirementInitiative_to_Collection</name>
        <label>Add RequirementInitiative to Collection</label>
        <locationX>1414</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>RequirementsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Requirement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SortRequirementCollectionByDueDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Initiative_ID</name>
        <label>Capture Initiative ID</label>
        <locationX>328</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>InitiativeIDTemporary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Initiative.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Requirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Initiative_with_Requirements</name>
        <label>Combine Initiative with Requirements</label>
        <locationX>1030</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>Requirement.Initiative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Initiative.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Requirement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requirement.Display_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Requirements.Display_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_RequirementInitiative_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_DeDupe_Requirement_variable</name>
        <label>Empty DeDupe Requirement variable</label>
        <locationX>573</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>DedupeRequirement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDedupeVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequirementsCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDedupeVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Initiative</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>SortRequirementCollectionByDueDate</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SortRequirementCollectionByDueDate</label>
        <locationX>1428</locationX>
        <locationY>890</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RequirementsCollection</collectionReference>
        <connector>
            <targetReference>Loop_Requirements</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Due_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Dedupe_not_null</name>
        <label>Dedupe not null</label>
        <locationX>737</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Initiative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deduped_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DedupeRequirement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Records_in_Investment_Schedule</targetReference>
            </connector>
            <label>Deduped not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Initiatives</name>
        <label>Has Initiatives?</label>
        <locationX>623</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initiative_of_Investment_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Initiative</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requirement_Records_Present</name>
        <label>Requirement Records Present?</label>
        <locationX>681</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Initiative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requirement_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Requirements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Requirements</targetReference>
            </connector>
            <label>Requirement Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_WithPayment_Or_WithoutPayment</name>
        <label>Show_WithPayment_Or_WithoutPayment</label>
        <locationX>72</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>docGen_Preview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WithOrWithoutPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Investment_Schedule_Details.Total_Payments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preview_DocGeneration</targetReference>
            </connector>
            <label>WithOrWithoutPayment</label>
        </rules>
    </decisions>
    <description>This flow is used for Investment Agreement.</description>
    <interviewLabel>DocumentGenerationForAgreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocumentGenerationForAgreement</label>
    <loops>
        <name>Loop_Requirements</name>
        <label>Loop Requirements</label>
        <locationX>931</locationX>
        <locationY>791</locationY>
        <collectionReference>Get_All_Requirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Combine_Initiative_with_Requirements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Duduped_Requirement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Initiative</name>
        <label>Loop Through Initiative</label>
        <locationX>223</locationX>
        <locationY>415</locationY>
        <collectionReference>Get_Initiative_of_Investment_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Capture_Initiative_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_WithPayment_Or_WithoutPayment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Records_in_Investment_Schedule</name>
        <label>Insert Records in Investment Schedule</label>
        <locationX>765</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Empty_DeDupe_Requirement_variable</targetReference>
        </connector>
        <inputReference>DedupeRequirement</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all initiative Requirements</description>
        <name>Get_All_Requirements</name>
        <label>Get All Requirements</label>
        <locationX>353</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requirement_Records_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeIDTemporary</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Requirement__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initiative_of_Investment_Schedule</name>
        <label>Get Initiative of Investment Schedule</label>
        <locationX>432</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Initiatives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all investment schedule details using screenflow</description>
        <name>Get_Investment_Schedule_Details</name>
        <label>Get Investment Schedule Details</label>
        <locationX>264</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initiative_of_Investment_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>docGen_Preview</name>
        <label>docGen Preview</label>
        <locationX>187</locationX>
        <locationY>731</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>docgen_without_payment</name>
            <extensionName>Loop:RunDocGen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ddpId</name>
                <value>
                    <stringValue>a1v6F00000Q0atZQAR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryOptionId</name>
                <value>
                    <stringValue>a1t6F00000G9zcNQAR</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_DocGeneration</name>
        <label>Preview DocGeneration</label>
        <locationX>50</locationX>
        <locationY>721</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>docGen</name>
            <extensionName>Loop:RunDocGen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ddpId</name>
                <value>
                    <stringValue>a1v6F00000PsOPQQA3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deliveryOptionId</name>
                <value>
                    <stringValue>a1t6F00000G9RVkQAN</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>138</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Investment_Schedule_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DedupeRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>EmptyDedupeVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>InitiativeIDtemp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InitiativeIDTemporary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requirement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>RequirementInitiativeTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
    <variables>
        <name>RequirementsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequirementInitiative__c</objectType>
    </variables>
</Flow>
