force-app/main/default/flows/Initiative_Requirement_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sp1Requirement_Reminder_1_Week</name>
        <label>Requirement__c.Requirement_Reminder_1_Week</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>Requirement__c.Requirement_Reminder_1_Week</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Requirement__c.Requirement_Reminder_1_Week</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>Migrated from the: Initiative Requirement Reminder workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <label>Initiative Requirement Reminder</label>
    <migratedFromWorkflowRuleName>Initiative Requirement Reminder</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>test</name>
        <label>test</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>sp1Requirement_Reminder_1_Week</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Due_Date__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <dateValue>2023-12-01</dateValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Requirement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>test</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
