force-app/main/default/flows/JBSystemFlow_Subscriber_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_FireJBTrigger</name>
        <label>SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9582f0c6567fbe63be412fc854b910e3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9582f0c6567fbe63be412fc854b910e3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedBy.Contact&quot;,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Subscriber__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514009957</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy.Contact&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:CreatedBy:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;OwnerId&quot;,&quot;Type__c&quot;,&quot;CreatedById&quot;,&quot;CreatedDate&quot;,&quot;Last_Name__c&quot;,&quot;First_Name__c&quot;,&quot;Email_Address__c&quot;,&quot;LastModifiedById&quot;,&quot;LastModifiedDate&quot;,&quot;Balance_is_Better__c&quot;,&quot;Youth_sport_options__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj50cf258135c991651b9c9178c88310d4_FireJBTrigger</name>
        <label>SalesforceObj50cf258135c991651b9c9178c88310d4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedById&quot;,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Subscriber__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj50cf258135c991651b9c9178c88310d4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514009957</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Tags__c&quot;,&quot;Type__c&quot;,&quot;IsDeleted&quot;,&quot;Coach_Db__c&quot;,&quot;CreatedDate&quot;,&quot;Last_Name__c&quot;,&quot;First_Name__c&quot;,&quot;General_Db__c&quot;,&quot;Email_Address__c&quot;,&quot;LastModifiedById&quot;,&quot;LastModifiedDate&quot;,&quot;Mobile_Number__c&quot;,&quot;Balance_is_Better__c&quot;,&quot;Kaupapa_Maori_News__c&quot;,&quot;Youth_sport_options__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj7f73f2d975ec175f65a3074561496921_FireJBTrigger</name>
        <label>SalesforceObj7f73f2d975ec175f65a3074561496921_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedById&quot;,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Subscriber__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7f73f2d975ec175f65a3074561496921</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514009957</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;OwnerId&quot;,&quot;Type__c&quot;,&quot;CreatedById&quot;,&quot;CreatedDate&quot;,&quot;Last_Name__c&quot;,&quot;First_Name__c&quot;,&quot;Email_Address__c&quot;,&quot;LastModifiedById&quot;,&quot;LastModifiedDate&quot;,&quot;Balance_is_Better__c&quot;,&quot;Youth_sport_options__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9582f0c6567fbe63be412fc854b910e3_FireJBTrigger</name>
        <label>SalesforceObj9582f0c6567fbe63be412fc854b910e3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;CreatedById&quot;,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Subscriber__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9582f0c6567fbe63be412fc854b910e3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514009957</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CreatedBy&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:CreatedBy:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Subscriber__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;OwnerId&quot;,&quot;Type__c&quot;,&quot;CreatedById&quot;,&quot;CreatedDate&quot;,&quot;Last_Name__c&quot;,&quot;RecordTypeId&quot;,&quot;First_Name__c&quot;,&quot;Email_Address__c&quot;,&quot;LastModifiedById&quot;,&quot;LastModifiedDate&quot;,&quot;Balance_is_Better__c&quot;,&quot;Youth_sport_options__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</name>
        <label>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9582f0c6567fbe63be412fc854b910e3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj9582f0c6567fbe63be412fc854b910e3</targetReference>
            </connector>
            <label>JB_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</name>
        <label>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</targetReference>
            </connector>
            <label>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7f73f2d975ec175f65a3074561496921</name>
        <label>JB_Decision_Null_Check_SalesforceObj7f73f2d975ec175f65a3074561496921</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</targetReference>
            </connector>
            <label>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9582f0c6567fbe63be412fc854b910e3</name>
        <label>JB_Decision_Null_Check_SalesforceObj9582f0c6567fbe63be412fc854b910e3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9582f0c6567fbe63be412fc854b910e3_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj9582f0c6567fbe63be412fc854b910e3_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9582f0c6567fbe63be412fc854b910e3_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9582f0c6567fbe63be412fc854b910e3_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9582f0c6567fbe63be412fc854b910e3_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_Decision</name>
        <label>JB_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9582f0c6567fbe63be412fc854b910e3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Balance_is_Better__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Decision</name>
        <label>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj50cf258135c991651b9c9178c88310d4</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Balance_is_Better__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj50cf258135c991651b9c9178c88310d4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj50cf258135c991651b9c9178c88310d4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_State_change_Decision</name>
        <label>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0cf7b0a98c7c6136b951e8d1947a487e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj50cf258135c991651b9c9178c88310d4</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Balance_is_Better__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj50cf258135c991651b9c9178c88310d4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj50cf258135c991651b9c9178c88310d4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Decision</name>
        <label>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7f73f2d975ec175f65a3074561496921</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Balance_is_Better__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7f73f2d975ec175f65a3074561496921_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7f73f2d975ec175f65a3074561496921</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_State_change_Decision</name>
        <label>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj50cf258135c991651b9c9178c88310d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj7f73f2d975ec175f65a3074561496921</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Balance_is_Better__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7f73f2d975ec175f65a3074561496921_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj7f73f2d975ec175f65a3074561496921</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9582f0c6567fbe63be412fc854b910e3_Decision</name>
        <label>JB_SalesforceObj9582f0c6567fbe63be412fc854b910e3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9582f0c6567fbe63be412fc854b910e3</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Balance_is_Better__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9582f0c6567fbe63be412fc854b910e3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9582f0c6567fbe63be412fc854b910e3</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Subscriber_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj7f73f2d975ec175f65a3074561496921</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscriber__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscriber__c</objectType>
    </variables>
</Flow>
