force-app/main/default/flows/OrganisationOwnerMismatch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OwnerMismatch</name>
        <label>OwnerMismatch</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Initiative_Development_Template__c.Organisation_OrganisationOwnerDoesNotMatch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Initiative_Development_Template__c.Organisation_OrganisationOwnerDoesNotMatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CheckOwner</name>
        <label>CheckOwner</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DiffOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Contact.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Organisation_Name__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OwnerMismatch</targetReference>
            </connector>
            <label>DiffOwner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OrganisationOwnerMismatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrganisationOwnerMismatch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckOwner</targetReference>
        </connector>
        <object>Initiative_Development_Template__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
