force-app/main/default/flows/ProcessPaymentsStuckInVariation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Payment_Records</name>
        <label>Update Payment Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>BatchApexForPaymentFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finishScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pDate</name>
            <value>
                <elementReference>dateList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BatchApexForPaymentFromFlow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Date_in_variable</name>
        <label>Assign Date in variable</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>dateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_date_to_process_payments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ProcessPaymentsStuckInVariation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProcessPaymentsStuckInVariation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Accept_date_to_process_payments</name>
        <label>Accept date to process payments</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Date_in_variable</targetReference>
        </connector>
        <fields>
            <name>Enter_date_to_process_payments</name>
            <dataType>Date</dataType>
            <fieldText>Enter date to process payments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 61, 61);&quot;&gt;Enter valid date&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Enter_date_to_process_payments} &gt; {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Process Payments</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finishScreen</name>
        <label>finishScreen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>afterUpdateMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Status update job is scheduled. Once done,  you will receive notification.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Accept_date_to_process_payments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dateList</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusPayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
